<div class="form m-4">
  <%= render partial: 'layouts/errors', locals: { obj: @employee } %> 
  <%= form_with model: @employee, local: true do |f| %>
    <%= f.label :name, 'Full Name' %>
    <%= f.text_field :name, placeholder: "Enter Employee's Name", class: "m-1" %>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Enter Email", class: "m-1" %>
    <br>
    <h3 class= "fw-bold mt-2" >Addresses:</h3>
    <div class="row justify-content-start">
      <h4>Permanent Address:</h4>
      <%= render partial: 'address', locals: { f: f } %>
    </div>
    
    <h3 class= "fw-bold mt-2">Contacts:</h3>
    <div class="nested_form_field">
      <%= f.nested_fields_for :contacts do |contact| %>
        <div class="fields-row">
          <%= contact.label :number, class: "m-1"%>
          <%= contact.text_field :contact_no, placeholder: "Enter Contact", class: "m-1" %>
          <%= contact.remove_nested_fields_link 'Remove', data: { confirm: 'Are you sure?' }, class: "link-danger remove-fields" %>
        </div>
      <% end %>
    </div>
    <%= f.add_nested_fields_link :contacts, 'Add Contact', class: 'btn btn-secondary btn-sm' %>

    <h3 class= "fw-bold mt-2" >Other Details:</h3>
    <%= f.label :date_of_birth, 'Date of Birth' %>
    <%= f.date_field :dob, placeholder: "Select Date", class: "m-1" %>

    <%= f.label :experience %>
    <%= f.text_field :experience, class: "m-1" %>
  
    <%= f.label :department %>
    <%= f.text_field :department, class: "m-1" %>
    <br>
    <%= f.label :designation %>
    <%= f.text_field :designation, class: "m-1" %>
    
    <%= f.label :joining_date, 'Joining Date' %>
    <%= f.date_field :joining_date, class: "m-1" %>
    <br>
    <h4 class="fw-bold mt-2" >Documents Submitted:</h4>
    <%= f.collection_check_boxes :document_ids, Document.all, :id, :document_name, class: "form-check" do |b| %>
      <%= b.check_box class: "form-check-input m-1" %>
      <%= b.label class: "form-check-label" %>
    <% end %>
    <br>
    <div> 
      <%= f.submit class: "btn btn-primary mt-2" %>
    </div>
  <% end %>
</div>