<!DOCTYPE html>
<html>
  <head>
    <title>EMSCodenote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container mt-4 rounded">
      <%= render 'layouts/messages' %>
      <h1 class="mt-4 text-center">EMS(Employee Management System)</h1>
      <%= render 'layouts/links' %>
      <%= yield %>   
    </div>
  </body>
</html>
